<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Estoque</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-utilities.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Aldrich'>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-success navbar-light w-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px;"><b>Kleyton Marcenaria</b><img style="margin-left: 20px; border-radius:10px" src="https://i.pinimg.com/originals/70/17/1f/70171feba5b0058cca7b28bb01dd0f06.jpg" width="75px" height="75px"></a>
    </div>
</nav>

<div class="container mt-3">
    <div class="boxborder text-center">
        <h1>Itens</h1>
        <table class="table">
            <tr>
                <th>Código</th>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Quantidade Disponível</th>
                <th>Acessar Cadastro</th>
            </tr>
            <tr th:each="produto : ${produtos}">
                <td th:text="${#strings.substring(produto.id,0,8)}"></td>
                <td th:text="${produto.tipo}"></td>
                <td th:text="${produto.nomeDescricao}"></td>
                <td th:text="${#numbers.formatCurrency(produto.valorVenda)}"></td>
                <td th:text="${produto.quantidadeDisponivel}"></td>
                <td><a type="button" class="btn btn-primary"
                       th:href="@{/produto/acessarproduto/{id} (id=${produto.id})}">
                    Acessar</a></td>
            </tr>
        </table>
    </div>
</div>
</body>


</html>