<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pedidos</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-utilities.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Aldrich'>
</head>

<script>
    function mostrarMaisFiltros(x) {
            if (x == 1) {
                document.getElementById("filtros").style.display = "block";
            } else {
                document.getElementById("filtros").style.display = "none";
            }
        }


</script>
<body>
<nav class="navbar navbar-expand-lg bg-success navbar-light w-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px;"><b>Kleyton Marcenaria</b><img style="margin-left: 20px; border-radius:10px" src="https://i.pinimg.com/originals/70/17/1f/70171feba5b0058cca7b28bb01dd0f06.jpg" width="75px" height="75px"></a>
    </div>
</nav>

<div class="container mt-3">
    <div class="boxborder text-center">
        <h1>Todos os Pedidos</h1>
        <table class="table">
            <tr>
                <th>Código</th>
                <th>Data</th>
                <th>CPF/CNPJ do Comprador</th>
                <th>Valor</th>
                <th>Acessar Pedido</th>
            </tr>
            <tr th:each="pedido : ${pedidos}">
                <td th:text="${#strings.substring(pedido.id,0,8)}"></td>
                <td th:text="${#temporals.format(pedido.cadastradoEm, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${pedido.cpfCnpjComprador}"></td>
                <td th:text="${#numbers.formatCurrency(pedido.valorTotal)}"></td>
                <td><a type="button" class="btn btn-primary"
                       th:href="@{'/pedido/acessarpedido?' (id = ${pedido.id})}">
                    Acessar</a></td>
            </tr>
        </table>
    </div>
</div>
</body>


</html>