<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Vender</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-utilities.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Aldrich'>
</head>


<body>
<script>
    $(window).ready(function() {
        $("#form-id").on("keypress", function (event) {
            console.log("aaya");
            var keyPressed = event.keyCode || event.which;
            if (keyPressed === 13) {
                alert("You pressed the Enter key!!");
                event.preventDefault();
                return false;
            }
        });
    });
    function buscaItens(descricao, tipoItem){
        window.location.href = '/pedido/buscaitem?descricao=' + descricao + '&tipo=' + tipoItem;
    }
    function adicionaItem(index, quantidade) {
        window.location.href = window.document.location.origin + '/pedido/addprodutoservico?index=' + index + '&qtde=' + quantidade;
    }
    function removeItem(id) {
        window.location.href = window.document.location.origin + '/pedido/removeprodutoservico?id=' + id;
    }



</script>
<nav class="navbar navbar-expand-lg bg-success navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px;"><b>Brand</b></a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-mdb-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Action</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>

            <form class="w-auto">
                <input type="search" class="form-control" placeholder="Type query" aria-label="Search">
            </form>

        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="boxborder">
        <form th:object="${pedido}" th:action="@{/pedido/efetivar}" method="post">
            <select id="tipoItem">
                <option value="produto">Produto</option>
                <option value="servico">Serviço</option>
            </select>
            <div class="text-center">
                <label class="form-labels">Descrição: </label>
                <input class="form-inputs" id="descricaoItem" name="descricaoItem" style="width: 70px">
                <button class="btn-primary btn" type="button"
                        th:attr="onclick=|buscaItens(document.getElementById('descricaoItem').value, document.getElementById('tipoItem').value)|"
                        id="buscaItem" name="buscaItem">Buscar
                </button>
            </div>
            <div>
                <div>
                    <h4 class="text-center mt-5">Itens Disponíveis</h4>
                    <div th:if="${#lists.isEmpty(itensEncontrados)}">
                        <!-- colocar alguma coisa? -->
                    </div>
                    <div th:if="${!#lists.isEmpty(itensEncontrados)}">
                        <table class="table text-center">
                            <tr>
                                <th>Codigo</th>
                                <th>Descrição</th>
                                <th>Valor Unit.</th>
                                <th>Estoque Disponível</th>
                                <th>Qtd Sol.</th>
                                <th>Adicionar ao Pedido</th>
                            </tr>
                            <tr th:each="produto, stat : ${itensEncontrados}" id="itensEncontrados">
                                <td th:text="${#strings.substring(itensEncontrados[__${stat.index}__].id, 0,8)}"></td>
                                <td th:text="${itensEncontrados[__${stat.index}__].nomeDescricao}"></td>
                                <td th:text="${#numbers.formatCurrency(itensEncontrados[__${stat.index}__].valorVenda)}"></td>
                                <td th:text="${itensEncontrados[__${stat.index}__].quantidadeDisponivel}"></td>
                                <td><input class="form-inputs qtdeSolicitada" id="qtdeSolicitada" name="qtdeSolicitada">
                                </td>
                                <td>
                                    <button class="btn btn-primary" id="addItem" name="addItem"
                                            type="button"
                                            th:attr="onclick=|adicionaItem(${stat.index}, document.getElementsByClassName('qtdeSolicitada')[${stat.index}].value)|">
                                        +
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <h2 class="text-center mt-5">Carrinho</h2>
                    <table class="table text-center">
                        <tr>
                            <th>Nº</th>
                            <th>Codigo</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                            <th>Valor Unit.</th>
                            <th>Qtd Sol.</th>
                            <th>Total item</th>
                            <th>Remover do Pedido</th>
                        </tr>
                        <tr th:each="itemPedido, stat : ${pedido.itensPedido}" id="itens">
                            <td th:text="(${stat.index} + 1)"></td>
                            <td th:text="${#strings.substring(itemPedido.produto.id, 0, 8)}"></td>
                            <td th:text="${itemPedido.produto.tipo}"></td>
                            <td th:text="${itemPedido.produto.nomeDescricao}"></td>
                            <td th:text="${#numbers.formatCurrency(itemPedido.produto.valorVenda)}"></td>
                            <td th:text="${itemPedido.quantidadeSolicitada}"></td>
                            <td th:text="${#numbers.formatCurrency(itemPedido.valorTotal)}"></td>
                            <td>
                                <button class="btn btn-danger" id="rmvItem" name="rmvItem"
                                        type="button" th:attr="onclick=|removeItem('${itemPedido.produto.id}')|">-
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <label class="form-labels"> Sub-Total: <span
                            th:text="*{#numbers.formatCurrency(valorTotal)}"> </span></label>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary text-center" type="submit">Fechar Pedido</button>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>