<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Novo Pedido</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-utilities.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Aldrich'>
</head>


<body>
<script>
    function buscaItens(descricao, tipoItem){
        window.location.href = '/pedido/buscaitem?descricao=' + descricao + '&tipo=' + tipoItem;
    }
    function adicionaItem(index, quantidade) {
        window.location.href = window.document.location.origin + '/pedido/addprodutoservico?index=' + index + '&qtde=' + quantidade;
    }
    function removeItem(id) {
        window.location.href = window.document.location.origin + '/pedido/removeprodutoservico?id=' + id;
    }



</script>
<nav class="navbar navbar-expand-lg bg-success navbar-light w-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px;"><b>Kleyton Marcenaria</b><img
                style="margin-left: 20px; border-radius:10px"
                src="https://i.pinimg.com/originals/70/17/1f/70171feba5b0058cca7b28bb01dd0f06.jpg" width="75px"
                height="75px"></a>
    </div>
</nav>

<div class="container mt-3">
    <div class="boxborder">
        <form th:object="${pedido}" th:action="@{/pedido/efetivar}" method="post">
            <div class="text-center">
                <label class="form-labels">Tipo: </label>
                <select id="tipoItem" class="form-control">
                    <option value="produto">Produto</option>
                    <option value="servico">Serviço</option>
                </select>
                <label class="form-labels ml-4">Descrição: </label>
                <input class="form-inputs" id="descricaoItem" name="descricaoItem" style="width: 150px">
                <button class="btn-primary btn" type="button"
                        th:attr="onclick=|buscaItens(document.getElementById('descricaoItem').value, document.getElementById('tipoItem').value)|"
                        id="buscaItem" name="buscaItem">Buscar
                </button>
            </div>

            <div>
                <div>
                    <div th:if="${#lists.isEmpty(itensEncontrados)}">
                        <h4 class="text-center mt-5">Nenhum item com essa descrição encontrado, verifique os dados
                            informados.</h4>
                    </div>
                    <div th:if="${!#lists.isEmpty(itensEncontrados)}">
                        <h4 class="text-center mt-5">Itens Disponíveis</h4>
                        <table class="table text-center">
                            <tr>
                                <th>Codigo</th>
                                <th>Descrição</th>
                                <th>Valor Unit.</th>
                                <th>Estoque Disponível</th>
                                <th>Qtd Sol.</th>
                                <th>Adicionar ao Pedido</th>
                            </tr>
                            <tr th:each="produto, stat : ${itensEncontrados}" id="itensEncontrados">
                                <td th:text="${#strings.substring(itensEncontrados[__${stat.index}__].id, 0,8)}"></td>
                                <td th:text="${itensEncontrados[__${stat.index}__].nomeDescricao}"></td>
                                <td th:text="${#numbers.formatCurrency(itensEncontrados[__${stat.index}__].valorVenda)}"></td>
                                <td th:text="${itensEncontrados[__${stat.index}__].quantidadeDisponivel}"></td>
                                <td><input class="form-inputs qtdeSolicitada" id="qtdeSolicitada" name="qtdeSolicitada">
                                </td>
                                <td>
                                    <button class="btn btn-primary" id="addItem" name="addItem"
                                            type="button"
                                            th:attr="onclick=|adicionaItem(${stat.index}, document.getElementsByClassName('qtdeSolicitada')[${stat.index}].value)|">
                                        +
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <h2 class="text-center mt-5">Carrinho</h2>
                    <table class="table text-center">
                        <tr>
                            <th>Nº</th>
                            <th>Codigo</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                            <th>Valor Unit.</th>
                            <th>Qtd Sol.</th>
                            <th>Total item</th>
                            <th>Remover do Pedido</th>
                        </tr>
                        <tr th:each="itemPedido, stat : ${pedido.itensPedido}" id="itens">
                            <td th:text="(${stat.index} + 1)"></td>
                            <td th:text="${#strings.substring(itemPedido.produto.id, 0, 8)}"></td>
                            <td th:text="${itemPedido.produto.tipo}"></td>
                            <td th:text="${itemPedido.produto.nomeDescricao}"></td>
                            <td th:text="${#numbers.formatCurrency(itemPedido.produto.valorVenda)}"></td>
                            <td th:text="${itemPedido.quantidadeSolicitada}"></td>
                            <td th:text="${#numbers.formatCurrency(itemPedido.valorTotal)}"></td>
                            <td>
                                <button class="btn btn-danger" id="rmvItem" name="rmvItem"
                                        type="button" th:attr="onclick=|removeItem('${itemPedido.produto.id}')|">-
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <label class="form-labels"> Sub-Total: <span
                            th:text="*{#numbers.formatCurrency(valorTotal)}"> </span></label>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary text-center" type="submit">Fechar Pedido</button>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>