<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Produto</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-utilities.css">
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Aldrich'>
</head>

<script>
    function aplicarDesconto(perc) {
        window.location.href = window.document.location.origin + '/pedido/aplicadesconto?perc=' + perc;
    }

</script>

<body>
<nav class="navbar navbar-expand-lg bg-success navbar-light w-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px;"><b>Kleyton Marcenaria</b><img style="margin-left: 20px; border-radius:10px" src="https://i.pinimg.com/originals/70/17/1f/70171feba5b0058cca7b28bb01dd0f06.jpg" width="75px" height="75px"></a>
    </div>
</nav>

<div class="container mt-3">
    <div class="boxborder text-center">
        <form th:object="${produto}" th:action="@{/}" method="post">
            <div th:if="${deleted}">
                <h1>Produto excluido com Sucesso!</h1>
                <a type="button" href="/" class="btn btn-primary">Retornar ao Menu</a>
            </div>
            <div th:if="${!deleted}">
                <h3>Não foi possivel excluir produto pois existem pedidos feitos com esse item!</h3>
                <table class="table text-center">
                    <tr>
                        <th>Nº</th>
                        <th>Codigo</th>
                        <th>Pedido Origem</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                    </tr>
                    <tr th:each="itemPedido, stat : ${pendencias}" id="itens">
                        <td th:text="(${stat.index} + 1)"></td>
                        <td th:text="${#strings.substring(itemPedido.produto.id, 0, 8)}"></td>
                        <td th:text="${#strings.substring(itemPedido.pedido.id, 0, 8)}"></td>
                        <td th:text="${itemPedido.produto.tipo}"></td>
                        <td th:text="${itemPedido.produto.nomeDescricao}"></td>
                    </tr>
                </table>
                <p>Deseja desativar o produto?</p>
                <a type="button" th:href="@{'/produto/desativaproduto/{id}'(id=${produto.id})}" class="btn btn-warning">Desativar</a>
                <a type="button" th:href="@{'/produto/acessarproduto/{id}'(id=${produto.id})}" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>


</html>