<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Confirmação</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-utilities.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Aldrich'>
</head>

<script>
    function aplicarDesconto(perc) {
        window.location.href = window.document.location.origin + '/pedido/aplicadesconto?perc=' + perc;
    }
</script>

<body>
<nav class="navbar navbar-expand-lg bg-success navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px;"><b>Brand</b></a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-mdb-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Action</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>

            <form class="w-auto">
                <input type="search" class="form-control" placeholder="Type query" aria-label="Search">
            </form>

        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="boxborder text-center">
        <form th:object="${pedido}" th:action="@{/pedido/efetivar}" method="post">
            <label class="mt-5 form-labels">Codigo Pedido: <span th:text="*{id}"></span></label><br>
            <label class="form-labels">Situação: <span th:text="*{pedidoSituacao}"></span></label><br>
            <label class="form-labels">CPF/CNPJ do Comprador: <span th:text="*{cpfCnpjComprador}"></span></label><br>
            <label class="form-labels">Valor Total: <span th:text="${#numbers.formatCurrency(pedido.valorTotal)}"></span></label><br>
            <label class="form-labels">Desconto Aplicado: <span th:text="*{desconto} + '%'"></span></label>
            <h2 class="mt-4">Itens Solicitados</h2>
            <table class="table text-center">
                <tr>
                    <th>Nº</th>
                    <th>Codigo</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Valor Unit.</th>
                    <th>Qtd Sol.</th>
                    <th>Total item</th>
                </tr>
                <tr th:each="itemPedido, stat : ${pedido.itensPedido}" id="itens">
                    <td th:text="(${stat.index} + 1)"></td>
                    <td th:text="${#strings.substring(itemPedido.produto.id, 0, 8)}"></td>
                    <td th:text="${itemPedido.produto.tipo}"></td>
                    <td th:text="${itemPedido.produto.nomeDescricao}"></td>
                    <td th:text="${#numbers.formatCurrency(itemPedido.produto.valorVenda)}"></td>
                    <td th:text="${itemPedido.quantidadeSolicitada}"></td>
                    <td th:text="${#numbers.formatCurrency(itemPedido.valorTotal)}"></td>
                </tr>
            </table>
            <button th:if="*{pedidoSituacao} == ${T(com.application.pedidoapi.enums.SituacaoPedido).EM_ABERTO}" type="submit" class="btn btn-info">Finalizar Pedido</button>
            <a type="button" href="/pedido/visualizarpedidos" class="btn btn-primary">Voltar</a>
        </form>
    </div>
</div>
</body>


</html>